body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: yellow;
}
/* Font for Welcome Commander */
@import url(https://fonts.googleapis.com/css?family=Reem+Kufi+Ink);
/* Font for battles page */
@import url(https://fonts.googleapis.com/css?family=Rubik+Dirt);


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.NavBar{
  display: inline-flex;
  width: 100%;
  background-image: linear-gradient(to right, green, red);
  justify-content: space-around;
}
.NavBarLink {
  display: inline-block;
  width: auto;
  padding: 12px;
  font-family: fantasy;
  font-size: 3em;
  color: yellow;
  transform: skew(-15deg);
}

.commanderIntro {
font-family: Reem Kufi Ink;
font-size:5em;
}
.battle {
  font-family: Rubik Dirt;
  text-align: center;
  font-size: 10em;
  font-weight: 500;
}
.shipCard{

  border: 10px;
  border-color: red;
}